/* Forget Password */

.forget-pass-container {
  width: 100%;
  max-width: 34rem;
  border: 1px solid rgba(131, 132, 138, 0.5);
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 2.4rem 3.4rem 4rem;
  border-radius: 0.75rem;
  text-align: center;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.forget-label {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2.5px;
  text-align: left;
}

.forget-input {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  color: var(--black);
  width: 100%;
  border: 1px solid #83848a;
}

.country-dd {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.forget-input::placeholder {
  font-size: 1.4rem;
  font-weight: 400;
  color: #83848a;
}

.forget-input:focus {
  border-color: #818cf8;
  border-color: rgb(37 99 235);
  outline: none;
}

.forget-error-label {
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--secondary);
  text-transform: capitalize;
  padding-top: 0.5rem;
}

.cancel-btn {
  padding: 0.5rem 2.5rem;
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #e4e6eb;
}

.submit-btn {
  padding: 0.5rem 2.5rem;
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
}

/* Reset password */

.reset-password-container {
  width: 100%;
  max-width: 34rem;
  background-color: white;
  border: 1px solid rgba(131, 132, 138, 0.5);
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.1);
  padding: 2.4rem 2.8rem 2.6rem 2.8rem;
  border-radius: 0.75rem;
}

@media only screen and (max-width: 27.5em) {
  .forget-pass-container {
    max-width: 32rem;
    padding: 2rem 3rem 3rem;
  }

  .cancel-btn,
  .submit-btn {
    padding: 0.5rem 2rem;
  }

  .reset-password-container {
    max-width: 32rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .forget-pass-container {
    border-radius: 0.5rem;
    padding: 2rem 2.5rem 3rem;
  }

  .reset-password-container {
    padding: 2rem 2.4rem 2.2rem 2.4rem;
    border-radius: 0.75rem;
  }
}
