.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.secondary-container {
  max-width: 192rem;
  padding: 0 15rem;
  margin: 0 auto;
}

.tertiary-container {
  max-width: 192rem;
  padding: 0 15rem;
  margin: 0 auto;
}

.space-xl {
  padding: 7rem 0;
}

.section-space {
  padding: 5rem 0;
}

.star-psudo::before {
  content: "";
  display: inline-block;
  width: 16rem;
  height: 16rem;
  background-image: url("/star-icon2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translate(60%, -25%);
}

.btn {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary);
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.7rem 2.5rem;
  border-radius: 999px;
}

.btn-transparent {
  border: 1px solid red;
  background-color: transparent;
}

.primary-button {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary);
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.7rem 2.5rem;
  border-radius: 999px;
}

h1 {
  font-size: 6.8rem;
  font-weight: 600;
  line-height: 85px;
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--black);
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: var(--black);
}

.para2 {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #393b43;
}

.banner-title {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 700;
  color: var(--black);
}

.text-white {
  color: white;
}

/* Cart Style */

.cart-title {
  color: var(--primary);
  font-size: 2rem;
  line-height: normal;
  font-weight: 600;
  text-transform: capitalize;
  padding: 3rem;
  border-bottom: 1px solid #b9bccf4d;
}

.inc-dec-btn {
  display: inline-block;
  border: 1px solid #b9bccf;
  border-radius: 999px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--black);
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.indec-icon {
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  stroke: #b9bccf;
}

.place-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place-center p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: var(--black);
}

.place-center h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.1rem;
  color: var(--black);
}

.total-container p {
  font-weight: 700;
  color: var(--primary);
}

.total-container h5 {
  font-weight: 700;
  color: var(--secondary);
}

.line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: #b9bccf4d;
}

.view-cart-btn {
  display: inline-block;
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--white);
  text-transform: capitalize;
  padding: 2.2rem 1.8rem;
  text-align: center;
  border-radius: 999px;
}

.cl-title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin: 3.5rem 0;
}

.cl-description {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
}

.btn-2 {
  padding: 0.4rem 3.5rem;
}

.extra-pad {
  padding: 0.5rem 3rem;
}

.lock-icon {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  fill: var(--primary);
}

.enter-otp-container {
  padding: 3rem 0;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}

.enter-otp-container h2 {
  color: var(--black);
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  text-transform: capitalize;
}

.verify-btn {
  margin-top: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  width: 73%;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  color: white;
  font-weight: 700;
}

.forget-container {
  width: 32rem;
  padding: 2.4rem 3.2rem;
  border: 0.1px solid black;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  box-shadow: 3px 3px 6px 8px rgba(0, 0, 0, 0.05);
}

.cs-button {
  padding: 1rem 1.6rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.otp-text {
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
}

.new-box {
  border: none !important;
  font-size: 1.9rem;
}

.new-box:focus {
  outline: none;
}

/* Different Term and Polices section */

.policies-space {
  padding: 4rem 0 6rem 0;
}

.faq-heading {
  text-transform: uppercase;
  font-size: 4.8rem;
  line-height: 1.25;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  display: inline-block;
  padding: 2rem 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.policies-sub-heading {
  font-size: 3.2rem;
  line-height: 4.4rem;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 4rem;

  background: linear-gradient(90deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.tc-list li {
  padding-left: 3.5rem;
  letter-spacing: 0.4px;
  color: var(--primary);
  font-size: 1.8rem;
  line-height: 3.4rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 2rem;
}

.tc-list li::before {
  content: "✔";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  font-size: 1.4rem;
  color: white;
  background-color: #ffb81f;
  border-radius: 50%;
  position: absolute;
  top: 0.75rem;
  left: 2px;
}

@media only screen and (max-width: 100em) {
  .inc-dec-btn {
    font-size: 1.4rem;
    line-height: 1;
    gap: 0.75rem;
  }

  .cart-title {
    font-size: 1.8rem;
    padding: 2.5rem;
  }

  .place-center p {
    font-size: 1.6rem;
    line-height: 1.1;
  }

  .place-center h5 {
    font-size: 1.8rem;
    line-height: 1.1;
  }

  .view-cart-btn {
    font-size: 1.5rem;
    line-height: 1;
    padding: 1.8rem 1.4rem;
  }

  .section-space {
    padding: 4.5rem 0;
  }

  .tertiary-container {
    padding: 0 12rem;
  }

  .star-psudo::before {
    width: 14rem;
    height: 14rem;
  }

  .banner-title {
    font-size: 5.2rem;
    line-height: 6.5rem;
  }

  .primary-button {
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
  }

  .para2 {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .faq-heading {
    font-size: 3.8rem;
    padding: 1rem 0;
  }

  .policies-space {
    padding: 3rem 0 5rem 0;
  }

  .policies-sub-heading {
    font-size: 2.8rem;
    line-height: 1.4;
    margin-bottom: 3rem;
  }

  .tc-list li {
    padding-left: 3rem;
    font-size: 1.6rem;
    letter-spacing: normal;
    line-height: 1.9;
  }

  .tc-list li::before {
    height: 2rem;
    width: 2rem;
    top: 0.55rem;
    left: 4px;
  }
}

@media only screen and (max-width: 90em) {
  .inc-dec-btn {
    font-size: 1.2rem;
    gap: 0.5rem;
  }

  .indec-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .place-center p {
    font-size: 1.4rem;
  }

  .place-center h5 {
    font-size: 1.6rem;
  }

  .view-cart-btn {
    font-size: 1.4rem;
    padding: 1.6rem 1.2rem;
  }

  .section-space {
    padding: 4rem 0;
  }

  .banner-title {
    font-size: 4.4rem;
    line-height: 5.9rem;
  }

  .primary-button {
    font-size: 1.7rem;
    padding: 1.4rem 1.9rem;
  }

  .star-psudo::before {
    width: 12rem;
    height: 12rem;
  }

  .para2 {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }

  .faq-heading {
    font-size: 3.2rem;
    letter-spacing: 0.5px;
    padding: 0.5rem 0;
  }

  .policies-space {
    padding: 2.5rem 0;
  }

  .policies-sub-heading {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }

  .tc-list li {
    padding-left: 3rem;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.75;
  }

  .tc-list li::before {
    font-size: 1.2rem;
    height: 1.75rem;
    width: 1.75rem;
    top: 0.5rem;
  }
}

@media only screen and (max-width: 83.75em) {
  .section-space {
    padding: 3rem 0;
  }

  .banner-title {
    font-size: 4rem;
    line-height: normal;
  }

  .primary-button {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
  }

  .para2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .star-psudo::before {
    height: 10rem;
    width: 10rem;
    transform: translate(75%, -25%);
  }
}

@media only screen and (max-width: 80em) {
  .faq-heading {
    font-size: 2.8rem;
    padding: 0;
  }

  .policies-sub-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .tc-list li {
    font-size: 1.4rem;
    padding-bottom: 1.25rem;
  }
}

@media only screen and (max-width: 71.25em) {
  .banner-title {
    font-size: 3.4rem;
  }

  .primary-button {
    font-size: 1.4rem;
  }

  .star-psudo::before {
    height: 8rem;
    width: 8rem;
  }

  .para2 {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .section-space {
    padding: 2rem 0;
  }

  .faq-heading {
    font-size: 2.4rem;
  }

  .policies-space {
    padding: 2rem 0;
  }

  .policies-sub-heading {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .tc-list li {
    font-size: 1.3rem;
    padding-left: 2.5rem;
  }

  .tc-list li::before {
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    top: 0.5rem;
  }
}

@media only screen and (max-width: 64em) {
  .section-space {
    padding: 3.5rem 0;
  }
}

@media only screen and (max-width: 60.875em) {
  .section-space {
    padding: 3rem 0;
  }

  .banner-title {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .primary-button {
    font-size: 1.2rem;
    padding: 1.1rem 1.6rem;
  }

  .para2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .star-psudo::before {
    height: 6rem;
    width: 6rem;
  }

  .faq-heading {
    font-size: 2rem;
  }

  .policies-space {
    padding: 1.5rem 0;
  }

  .policies-sub-heading {
    font-size: 1.6rem;
    margin-bottom: 1.25rem;
  }

  .tc-list li {
    font-size: 1.2rem;
  }

  .tc-list li::before {
    font-size: 0.75rem;
    height: 1.25rem;
    width: 1.25rem;
    top: 0.5rem;
  }
}

@media only screen and (max-width: 55em) {
  .star-psudo::before {
    height: 5rem;
    width: 5rem;
    transform: translate(50%, -25%);
  }
}

@media only screen and (max-width: 38.4375em) {
  .section-space {
    padding: 2.5rem 0;
  }

  .banner-title {
    font-size: 2.4rem;
    line-height: 1.25;
  }

  .primary-button {
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
  }

  .star-psudo::before {
    display: none;
  }

  .faq-heading {
    font-size: 1.8rem;
  }

  .policies-sub-heading {
    display: none;
  }

  .tc-list li {
    padding-left: 2.25rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .section-space {
    padding: 2rem 0;
  }

  .banner-title {
    font-size: 2rem;
  }

  .primary-button {
    padding: 0.75rem;
  }
}

@media only screen and (max-width: 20em) {
}


.radio[type="radio"] {
  flex-shrink: 0;
  appearance: none;
  box-shadow: none;
  background-color: #ffffff;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: 1px solid #dbdfe9;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.radio[type="radio"]:checked,
.radio[type="radio"][aria-checked="true"] {
  background-color: #1b84ff;
  border: 1px solid #1b84ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3e%3ccircle cx='10.9995' cy='11' r='5.86667' fill='white'/%3e%3c/svg%3e");
}

.radio[type="radio"]:focus {
  border-color: #1b84ff;
  box-shadow: px 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: #9a9cae;
}

.radio[type="radio"]:focus::-moz-placeholder {
  color: #78829d;
}

.radio[type="radio"]:focus::placeholder {
  color: #78829d;
}

.radio[type="radio"]:active {
  color: #9a9cae;
}

.radio[type="radio"]:active::-moz-placeholder {
  color: #78829d;
}

.radio[type="radio"]:active::placeholder {
  color: #78829d;
}

.radio[type="radio"]:active {
  box-shadow: none;
}

.radio[type="radio"]:disabled {
  cursor: not-allowed;
  background-color: #f1f1f4;
  border: 1px solid #1b84ff;
}

.radio[type="radio"]:disabled:checked,
.radio[type="radio"]:disabled[aria-checked="true"] {
  background-color: rgba(27, 132, 255, 0.2);
  border: 0;
}

.radio-sm[type="radio"] {
  height: 1.125rem;
  width: 1.125rem;
}

.radio-sm[type="radio"]:checked,
.radio-sm[type="radio"][aria-checked="true"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3e%3ccircle cx='9.0002' cy='8.99995' r='4.8' fill='white'/%3e%3c/svg%3e");
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.radio-label {
  color: #252f4a;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}


.switch input[type="checkbox"] {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #dbdfe9;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  height: 1.375rem;
  width: 2.125rem;
  border-radius: 1.375rem;
  transition: all 0.15s ease-in-out;
}

.switch input[type="checkbox"]:before {
  display: flex;
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--tw-light);
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.03));
  transition: all 0.15s ease-in-out;
}

.switch input[type="checkbox"]:checked,
.switch input[type="checkbox"][aria-checked="true"] {
  background-color: #1b84ff;
  transition: all 0.15s ease-in-out;
}

.switch input[type="checkbox"]:checked:before,
.switch input[type="checkbox"][aria-checked="true"]:before {
  background-color: #ffffff;
  transition: all 0.15s ease-in-out;
  left: calc(100% - 0.25rem);
  transform: translate(-100%, -50%);
  filter: none;
}

.switch input[type="checkbox"]:disabled {
  background-color: var(--tw-gray-100);
  border: 1px solid #dbdfe9;
  cursor: not-allowed;
  opacity: 0.5;
}

.switch input[type="checkbox"]:disabled:before {
  background-color: #dbdfe9;
}

.switch input[type="checkbox"]:disabled:checked,
.switch input[type="checkbox"]:disabled[aria-checked="true"] {
  background-color: rgba(27, 132, 255, 0.2);
  border: 0;
}

.switch input[type="checkbox"]:disabled:checked:before,
.switch input[type="checkbox"]:disabled[aria-checked="true"]:before {
  background-color: var(--tw-light);
}

.switch .switch-label {
  color: var(--tw-gray-700);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
}

.switch input[type="checkbox"] + .switch-label {
  color: var(--tw-gray-800);
}

.switch:has(input[type="checkbox"]:disabled) .switch-label {
  color: var(--tw-gray-500);
}

.switch-sm input[type="checkbox"] {
  height: 1.125rem;
  width: 1.875rem;
  border-radius: 1.125rem;
}

.switch-sm input[type="checkbox"]:before {
  height: 0.75rem;
  width: 0.75rem;
}

.switch-sm .switch-label {
  font-size: 0.8125rem;
}

.switch-lg .switch-label {
  font-size: 0.9375rem;
}

.checkbox[type="checkbox"] {
  flex-shrink: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background-color: #ffffff;
  border-radius: 0.375rem;
  height: 1.375rem;
  width: 1.375rem;
  border: 1px solid #dbdfe9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.checkbox[type="checkbox"]:checked,
.checkbox[type="checkbox"][aria-checked="true"] {
  background-color: #1b84ff;
  border: 1px solid #1b84ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9' viewBox='0 0 12 9' fill='none'%3e%3cpath d='M10.3667 0.541643L4.80007 6.10831L1.56674 2.87498C1.41061 2.71977 1.1994 2.63265 0.979241 2.63265C0.759086 2.63265 0.547876 2.71977 0.391741 2.87498C0.236532 3.03111 0.149414 3.24232 0.149414 3.46248C0.149414 3.68263 0.236532 3.89384 0.391741 4.04998L4.21674 7.87498C4.37288 8.03019 4.58409 8.1173 4.80424 8.1173C5.0244 8.1173 5.23561 8.03019 5.39174 7.87498L11.5417 1.72498C11.6198 1.64751 11.6818 1.55534 11.7241 1.45379C11.7665 1.35224 11.7882 1.24332 11.7882 1.13331C11.7882 1.0233 11.7665 0.914379 11.7241 0.81283C11.6818 0.711281 11.6198 0.619113 11.5417 0.541643C11.3856 0.386434 11.1744 0.299316 10.9542 0.299316C10.7341 0.299316 10.5229 0.386434 10.3667 0.541643Z' fill='white'/%3e%3c/svg%3e");
}

.checkbox[type="checkbox"]:indeterminate {
  background-color: #1b84ff;
  border: 1px solid #1b84ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.checkbox[type="checkbox"]:focus {
  border-color: #1b84ff;
  box-shadow: var(--tw-input-focus-box-shadow);
  color: #4b5675;
}

.checkbox[type="checkbox"]:focus::-moz-placeholder {
  color: #78829d;
}

.checkbox[type="checkbox"]:focus::placeholder {
  color: #78829d;
}

.checkbox[type="checkbox"]:active {
  color: var(--tw-gray-700);
}

.checkbox[type="checkbox"]:active::-moz-placeholder {
  color: #78829d;
}

.checkbox[type="checkbox"]:active::placeholder {
  color: #78829d;
}

.checkbox[type="checkbox"]:active {
  box-shadow: none;
}

.checkbox[type="checkbox"]:disabled {
  cursor: not-allowed;
  background-color: #f1f1f4;
  border: 1px solid #dbdfe9;
}

.checkbox[type="checkbox"]:disabled:indeterminate {
  background-color: rgba(27, 132, 255, 0.2);
  border: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.checkbox[type="checkbox"]:disabled:checked,
.checkbox[type="checkbox"]:disabled[aria-checked="true"] {
  background-color: rgba(27, 132, 255, 0.2);
  border: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9' viewBox='0 0 12 9' fill='none'%3e%3cpath d='M10.3667 0.541643L4.80007 6.10831L1.56674 2.87498C1.41061 2.71977 1.1994 2.63265 0.979241 2.63265C0.759086 2.63265 0.547876 2.71977 0.391741 2.87498C0.236532 3.03111 0.149414 3.24232 0.149414 3.46248C0.149414 3.68263 0.236532 3.89384 0.391741 4.04998L4.21674 7.87498C4.37288 8.03019 4.58409 8.1173 4.80424 8.1173C5.0244 8.1173 5.23561 8.03019 5.39174 7.87498L11.5417 1.72498C11.6198 1.64751 11.6818 1.55534 11.7241 1.45379C11.7665 1.35224 11.7882 1.24332 11.7882 1.13331C11.7882 1.0233 11.7665 0.914379 11.7241 0.81283C11.6818 0.711281 11.6198 0.619113 11.5417 0.541643C11.3856 0.386434 11.1744 0.299316 10.9542 0.299316C10.7341 0.299316 10.5229 0.386434 10.3667 0.541643Z' fill='white'/%3e%3c/svg%3e");
}

.checkbox-sm[type="checkbox"] {
  border-radius: 0.25rem;
  height: 1.125rem;
  width: 1.125rem;
}

.checkbox-sm[type="checkbox"]:checked,
.checkbox-sm[type="checkbox"][aria-checked="true"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7' fill='none'%3e%3cpath d='M8.4932 0.23329L4.03986 4.68662L1.4532 2.09996C1.32829 1.97579 1.15932 1.9061 0.983198 1.9061C0.807074 1.9061 0.638106 1.97579 0.513198 2.09996C0.38903 2.22487 0.319336 2.39383 0.319336 2.56996C0.319336 2.74608 0.38903 2.91505 0.513198 3.03996L3.5732 6.09996C3.69811 6.22412 3.86707 6.29382 4.0432 6.29382C4.21932 6.29382 4.38829 6.22412 4.5132 6.09996L9.4332 1.17996C9.49568 1.11798 9.54528 1.04425 9.57912 0.963008C9.61297 0.881768 9.6304 0.794632 9.6304 0.706624C9.6304 0.618616 9.61297 0.531479 9.57912 0.45024C9.54528 0.369 9.49568 0.295266 9.4332 0.23329C9.30829 0.109123 9.13932 0.0394287 8.9632 0.0394287C8.78707 0.0394287 8.61811 0.109123 8.4932 0.23329Z' fill='white'/%3e%3c/svg%3e");
}

.checkbox-sm[type="checkbox"]:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='2' viewBox='0 0 10 2' fill='none'%3e%3cpath d='M9.04638 0.293335L1.03971 0.333335C0.862903 0.333335 0.693333 0.403573 0.568309 0.528598C0.443285 0.653622 0.373047 0.823191 0.373047 1C0.373047 1.17681 0.443285 1.34638 0.568309 1.47141C0.693333 1.59643 0.862903 1.66667 1.03971 1.66667L9.03971 1.62667C9.21653 1.62667 9.3861 1.55643 9.51112 1.43141C9.63614 1.30638 9.70638 1.13681 9.70638 0.960002C9.70638 0.783191 9.63614 0.613622 9.51112 0.488597C9.3861 0.363573 9.21653 0.293335 9.03971 0.293335H9.04638Z' fill='white'/%3e%3c/svg%3e");
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.checkbox-label {
  color: #252f4a;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}